body {
    font-family: Arial, sans-serif;
  }
  #counter {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  @property --t {
    syntax: "<number>";
    initial-value: 10;
    inherits: true;
  } 

  .countdown {
    --s: calc(var(--t)/1);
    display: grid;
    margin: 1em auto;
    width: 10em;
    height: 10em;
    animation: t 10s linear infinite;
  }
  .countdown::after {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    font: 3em/2 ubuntu mono, consolas, monaco, monospace;
    counter-reset: s var(--s);
    content: "0:" counter(s, decimal-leading-zero);
  }
  
  @keyframes t {
    to {
      --t: 0 ;
    }
  }
  svg {
    grid-column: 1;
    grid-row: 1;
  }
  
  [r] {
    fill: none;
    stroke: silver;
  }
  [r] + [r] {
    --k: calc(var(--t)/10);
    transform: rotate(-90deg);
    stroke-linecap: round;
    stroke: color-mix(in hsl shorter hue, #8a9b0f calc(var(--k)*100%), #940a3d);
    stroke-dasharray: var(--k) 1;
  }

  button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #778da9;
    margin: 10px;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #778da9;
    color: white;
  }
